[Unit]
Description=Cindy-next next server
After=network.target

[Service]
User=heyrict
Group=www-data
WorkingDirectory=/path/to/cindy-next
Environment=NODE_ENV=production
ExecStart=/path/to/node /path/to/cindy-next/.next/dist/server/nextServer.js
Restart=always

[Install]
WantedBy=multi-user.target
