[Unit]
Description=Cindy-next twitter server
After=network.target

[Service]
User=heyrict
Group=www-data
WorkingDirectory=/path/to/cindy-next
#Environment=TOKEN=
#Environment=TOKEN_SECRET=
#Environment=CONSUMER_KEY=
#Environment=CONSUMER_SECRET=
Environment=ANONYMOUS_USER_DISPLAY=謎の料理人
Environment=TWEET_WITH_PICTURE=True
ExecStart=/path/to/python /path/to/cindy-next/python/twitterServer.py
Restart=always

[Install]
WantedBy=multi-user.target
